p{
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


body {
    background-image: url('samuel-oakes-Fr_XUMvQ9AU-unsplash.jpg');
    background-size: cover;
}
